@charset "utf-8";

@media screen and (max-width: 767px) {
   .content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .name_wrap {
      text-align: center;
   }
   .job_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

@media screen and (min-width: 992px) {
   .job {
      width: 100%;
   }
   .shane_tm_down {
      bottom: -15px;
   }
}
